<div id="container">
	<p id="opening-statement">
		<span id="first-line">Welcome to HungryFeed</span>,<br />
		<span id="second-line">where you can stay on top of all the latest in Local Deals!</span></p>
  <div id="login_buttons">
    <div id="login-button">
      <%= link_to "Login with Twitter!", login_path, class: "btn btn-large btn-primary" %>
    </div>
    <div id="login-override-button">
      <%= link_to "Skip authentication", tweets_path, class: "btn btn-small btn-primary", id: "login-override-button" %>
    </div>
  </div>

  <div>
  </div>
</div>