<div class="tweet" id={{id}}>
	<img src="{{twitter_user_image}}">
  <h2><a href="https://twitter.com/#{{twitter_username}}">{{twitter_username}}</a></h2>
  <div class="details">
	  <span class="deal_id">{{deal_id}}</span>
	  <span class="content">{{content}}</span>
	  <span class="twitter_user_image">{{twitter_user_image}}</span>
	  <span class="klout_score">{{klout_score}}</span>
	</div>
</div>