<div class="tweet" id={{id}}>
	<img src="{{twitter_user_image}}">
  <h2><a href="https://twitter.com/#{{twitter_username}}">{{twitter_username}}</a></h2>
  <div class="tweet_details">
	  <div class="content">{{content}}</div>
	  <a class="tweet_link" href="{{url}}">Link!</span></a>
	  <div class="tweet_klout_score">{{klout_score}}</div>
	</div>
</div>