<script src="assets/processing.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
<div id="container">
<canvas data-processing-sources="assets/sketches/basic-example.pde" tabindex="0" id="__processing1" style="image-rendering: -webkit-optimize-contrast !important; "></canvas>
  <menu id="login_buttons">
    <div id="login-button">
      <%= link_to "Login with Twitter!", login_path, class: "btn btn-large btn-primary" %>
    </div>
    <div id="login-override-button">
      <%= link_to "Skip authentication", tweets_path, method: :post, class: "btn btn-small btn-primary", id: "login-override-button" %>
    </div>
  </menu>
</div>




