<div class="deal" id={{id}}>
	<h2><a href="{{url}}">{{title}}</a></h2>
	<img src="{{image}}">
	<div class="details">
	<span class="link">{{link}}</span>
	<span class="purchased">{{purchased}}</span>
	<span class="image">{{image}}</span>
	</div>