<h2><a href="{{url}}">{{title}}</a></h2>
<img src="{{image}}" class="deal-image" id=image-{{id}} height="400" width="300">
<div class="details">
<span class="purchased">Number Purchased: <span id="purchased">{{purchased}}</span></span>
</div>