<h2><a href="{{url}}">{{title}}</a></h2>
<img src="{{image}}" class="deal-image" id=image-{{id}} height="400" width="300">
<div class="details">
	<tr class="deal_details_table">
		<td class= "number_purchased">Number Purchased: </td>
		<td class= "purchased">{{purchased}}</td>
	</tr>
</div>