<form accept-charset="UTF-8" action="/deal_emails" class="new_deal_email" id="new_deal_email" method="post"><div style="margin:0;padding:0;display:inline">
<input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="5EcagMrLJoRMzzq9i3jz3fbDd7XFfnbURa4hWl6i5aM="></div>
	<input id="deal_email_deal_id" name="deal_email[deal_id]" type="hidden" value={{id}}>
	<input id="deal_email_link" name="deal_email[link]" type="hidden" value={{url}}>
  <input id="deal_email_email" name="deal_email[email]" placeholder="your email address here" size="30" type="text">
  <input class="btn btn-medium btn-primary" name="commit" type="submit" value="Email me about this deal!">
</form>