<h3><a href="{{url}}">{{twitter_username}}</a></h3>
<div class="details">
<span class="content">{{content}}</span>
<span class="link">{{link}}</span>
<span class="twitter_user_image">{{twitter_user_image}}</span>
<span class="klout_score">{{klout_score}}</span>
</div>