
jQuery ->

  $(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});

  $ ->

  pusher = new Pusher("<%= Pusher.key %>")
  deal_channel = pusher.subscribe("deals")
  deal_channel.bind "new_deal", (deal) ->
    if $("#deals").find($("#deal_"+ deal.id)).length
      tweetsColorer()
    else
      deal_id = 'deal_'+deal.id
      $("#deals").prepend("<div class='deal' id="+deal_id+"></div>")
      $("#"+deal_id).html(Mustache.to_html($("#deal_template").html(), deal))
      $("#"+deal_id+" .details").after("<div class='tweets' id=tweets_for_"+deal_id+"></div>")
      $("#tweets_for_"+deal_id).after(Mustache.to_html($("#deal_form_template").html(), deal))
      tweetsColorer()

  tweet_channel = pusher.subscribe("tweets")
  tweet_channel.bind "new_tweet", (tweet) ->
    if $("#deals").find($("#tweets_for_deal_"+ tweet.deal_id)).length
      new_tweet = $("#tweets_for_deal_"+tweet.deal_id).append(Mustache.to_html($("#tweet_template").html(), tweet))
      if $("meta[name=current-user-name]").attr("content")
        $("#tweets_for_deal_"+tweet.deal_id+" #tweet-"+tweet.id+" .details").after "<a href=\"/tweet_responses/new." + tweet.id + "\" class=\"iframe btn btn-primary\" id=\"tweet_response\">Respond to tweet</a>"
        $(".iframe").colorbox
          iframe: true
          width: "80%"
          height: "80%"
      else
        $("#tweets_for_deal_"+tweet.deal_id+" #tweet-"+tweet.id+" .details").after "<a href=\"/auth/twitter\" class=\"btn btn-medium btn-primary\">Login with Twitter to reply!</a>"

    if $("#deals").find($("#new_deal_email-"+tweet.deal_id)).length
      form = $("#deals").find($("#new_deal_email_"+tweet.deal_id))
      $(".deal #tweet-"+tweet.id).parent().after(form)
      tweetsColorer()
    else
      tweetsColorer()

  if $('#deals').length
    tweetsColorer()

tweetsColorer = ->
  scores = $("#deals .tweets").find($(".tweet .details .score")).each ->
    if $(this).text() > 50  
      $(this).parent().parent().parent().css('background','#47A3FF')
    else if $(this).text() > 40  
      $(this).parent().parent().parent().css('background','#70B8FF')
    else if $(this).text() > 30
      $(this).parent().parent().parent().css('background','#99CCFF')
    else if $(this).text() > 20
      $(this).parent().parent().parent().css('background','#C2E0FF')
    else
      $(this).parent().parent().parent().css('background-color', '#D6EBFF')