
jQuery ->

  $(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});

  $ ->

  pusher = new Pusher("<%= Pusher.key %>")
  deal_channel = pusher.subscribe("deals")
  deal_channel.bind "new_deal", (deal) ->
    if $("#deals").find($("#deal_"+ deal.id)).length
      console.log(deal)
    else
      deal_id = 'deal_'+deal.id
      $("#deals").prepend("<div class='deal' id="+deal_id+"></div>")
      console.log(deal_id)

  tweet_channel = pusher.subscribe("tweets")
  tweet_channel.bind "new_tweet", (tweet) ->
    if $("#deals").find($("#tweets_"+ tweet.deal_id)).length
      console.log("deal found from tweet!")
      new_tweet = $("#tweets_"+tweet.deal_id).append(Mustache.to_html($("#tweet_template").html(), tweet))
    else
      console.log("cannot find deal!")


    if $("#deals").find($("#new_deal_email-"+tweet.deal_id)).length
      form = $("#deals").find($("#new_deal_email-"+tweet.deal_id))
      $(".deal #tweet-"+tweet.id).parent().after(form)
      console.log("form found!")
    else
      console.log("something went wrong!")
