<p>The deal for which you requested notification has been tweeted!</p>

<p>See the tweet here: <%= @tweet.link %></p>

<p>Thank you for using hungryfeedme to keep up with all the latest @LivingSocial tweets!</p>