#opening-statement
{
  margin-top: 10%;
  padding: 5% 5% 5% 5%;
  font-size: 20px;
  border: 1px solid lightgray;
}

#first-line
{
  padding-left: 31%;
  margin:0 auto;
}

#second-line
{
  padding-left: 31%;
  margin:0 auto;
}

#login_buttons
{
  margin: 0 auto;
  padding: 10% 35% 30% 35%;
}

#login-button
{
  margin: 0 auto;
}

#login-override-button
{
  margin-left: 12px;
  margin-top: 10px;
}

.tweet 
{
  margin: 0 auto;
}

.tweets
{
  margin: 0 auto;
}

body
{
font: normal .80em 'trebuchet ms', arial, sans-serif;
background: #F0EFE2;
color: #777;
}

.sidebar
{ 
position: fixed;
border-radius: 10px;
width: 500px;
border: 1px solid lightgray;
top: 35%;
left: 80%;
width: 190px;;
}

#content
{ 
text-align: left;
width: 60%;
padding: 0;
margin: 0 auto;
margin-top: 50px;
}

h1
{
font: normal 175% 'century gothic', arial, sans-serif;
color: #43423F;
margin: 0 0 15px 0;
padding: 15px 0 5px 0;
}

#tweets .tweet
{
  border-radius: 10px;
  padding: 25px 0 25px 0;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 25px;
  margin-left: 25px;
}

#tweets #tweet_response
{
  margin-left: 25px;
}

.tweet h2 
{
  display: inline;
  margin-left: 25px;
}

.deal h2
{
  display: inline;
  margin-left: 25px;
  padding-bottom: 10px;
}

.tweet .content
{
  display: inline;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-right: 20px;
  margin-left: 20px;
  width: 200px;
  text-wrap: normal;
}

img
{
  float: left;
}

.foreground
{
  background: transparent;
}

.deal
{
  margin: 20px 0 20px 0;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 415px;
  padding-top: 10px;
}

.deal .tweet .details
{
  padding-left: 10px;
}

.new_deal_email 
{
  margin-left: 335px;
  margin-top: 20px;
}

.deal .tweet
{
  margin-left: 335px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.deal-image
{
  border-radius: 10px;
  margin-left: 10px;
}

#deal-email-button
{
  margin-top: -10px;
  margin-left: 20px;
}

#deal_email_email
{
  width: 265px;
}

.purchased
{
  margin-left: 25px;
  padding-top: 5px;
  font-size: 15px;
}

#purchased
{
  font-weight: 800;
  font-size: 30px;
  margin-left: 5px;
}

.score
{
  float: right;
  border:solid 25px #FF8533; 
  background: #FF8533;
  position: absolute;
  margin-top: 5px;
  margin-left: -79px;
  color: white;
  width: 30px;
  opacity: 0.85;
  display: inline-block;
  font-size: 30px;
}

#klout-score-bubble
{
  float: right;
  height: 30px;
  opacity: 0.85;
  display: none;
  background-color: rgba(136, 136, 136, 0.6);
  margin-top: -10px;
  top: 215px;
  position: relative;
}

#tweet-klout-score-bubble
{
  float: right;
  height: 30px;
  opacity: 0.85;
  background-color: rgba(136, 136, 136, 0.6);
  margin: 0px;
  top: 215px;
}

.klout_score
{
  float: right;
  margin-top: -35px;
}

.tweet_klout_score
{
  float: right;
  border:solid 25px #FF8533; 
  background: #FF8533;
  color: white;
  margin-top: -42px;
  width: 30px;
  opacity: 0.85;
  display: inline-block;
  font-size: 30px;
}

.tweet_details
{
  font-size: 16px;
}

.tweet_details .content
{
  width: 200px;
}

.tweet_new_deal_email
{
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
}

.sidebar label 
{
  margin-top: 10px;
  margin-bottom: -10px;
}

.sidebar #deal_email_link
{
  width: 150px;
  margin-right: 50px;
}

.sidebar #deal_email_email
{
  width: 150px;
  margin-right: 50px;
}

#tweets .tweet h2
{
  padding-left: 15px;
}

.tweet_content
{
 padding-left: 20px;
 margin-left: 20px; 
}

#tweet_content_response
{
  width: 500px;
}
