#container
{
  height: 300px;
  position: relative;
  border: 5px solid red;
  z-index: 5;
}

#login_buttons
{
  bottom: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

#login-button
{
  margin-left: 42%;
}

#login-override-button
{
  margin-left: 24.65%;
}

.tweet 
{
  margin: 0 auto;
}

.tweets
{
  margin: 0 auto;
}

body
{
font: normal .80em 'trebuchet ms', arial, sans-serif;
background: #F0EFE2;
color: #777;
}

.left
{ 
float: left;
width: auto;
margin-right: 10px;
}

.right
{ 
float: right; 
width: auto;
margin-left: 10px;
}

.sidebar
{ 
position: fixed;
top: 0;
left: 80%;
float: right;
width: 190px;;
}

.sidebar ul
{ 
width: 178px; 
padding: 4px 0 0 0; 
margin: 4px 0 30px 0;
}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 40px;
  display: block;
  background: transparent url(link.png) no-repeat left center;} 

.sidebar li a.selected
{ color: #444;
  text-decoration: none;} 

#content
{ 
text-align: left;
width: 60%;
padding: 0;
margin: 0 auto;
}

h1
{
font: normal 175% 'century gothic', arial, sans-serif;
color: #43423F;
margin: 0 0 15px 0;
padding: 15px 0 5px 0;
}

#tweets .tweet
{
  border-radius: 10px;
  padding: 25px 0 25px 0;
}

.tweet h2 
{
  display: inline;
  margin-left: 25px;
}

.tweet .content
{
  display: inline;
}

img
{
  float: left;
}

.foreground
{
  background: transparent;
}

.deal
{
  margin: 20px 0 20px 0;
}

.deal #image
{
  float: left;
  height: 100px;
}

.deal .tweet .details
{
  
}

.new_deal_email 
{
  padding-top:300px;
}

.deal .tweet
{
  margin-left: 30%;
  display: block;
  border-radius: 10px;
  padding: none;
}